/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run popgen48/scalepopgen -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profie to filter SNPs'
    config_profile_description = 'Minimal test dataset to check filtering of SNPs'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'


    input = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/workflow_test_files/test/test_input_vcf.csv'
    sample_map = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/workflow_test_files/test/sample.map'
    color_map = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/workflow_test_files/test/pop_color.map'
    chrom_id_map = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/workflow_test_files/test/chrom_id.map'
    apply_snp_filters = true
    allow_extra_chrom = true
    maf = 0.001
    max_missing = 0.05

}
