/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run popgen48/scalepopgen -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name = 'Minimal test dataset to run selscan analysis'
    config_profile_description = 'Test profile to perform iHS and XP-EHH analysis as implemented in selscan'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '10.h'


    input = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/workflow_test_files/test/test_input_vcf.csv'
    sample_map = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/workflow_test_files/test/sample.map'
    color_map = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/workflow_test_files/test/pop_color.map'
    custom_snps = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/workflow_test_files/test/random_snp_extract.map'
    chrom_id_map = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/workflow_test_files/test/chrom_id.map'
    custom_snps_process = 'include'
    selection_plot_yml = 'scalepopgen_v1/extra/plots/manhattanplot_test.yml'
    outgroup = "Urial"
    skip_outgroup = true
    ihs = true
    xpehh = true
    ihs_args = ' --maf 0.05 '
    xpehh_args = ' --maf 0.01 '
    allow_extra_chrom = true
    apply_snp_filters = true
    maf = 0.05
    max_missing = 0.05

}
