/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run popgen48/scalepopgen -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name = 'Minimal test dataset to check filtering and calc summary stat'
    config_profile_description = 'Test profie to perform all filtering and calculate individual and population summary statistics'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'


    input = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/workflow_test_files/test/test_input_vcf.csv'
    sample_map = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/workflow_test_files/test/sample.map'
    color_map = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/workflow_test_files/test/pop_color.map'
    chrom_id_map = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/workflow_test_files/test/chrom_id.map'
    rem_indi = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/workflow_test_files/test/remove_samples.txt'
    apply_indi_filters = true
    allow_extra_chrom = true
    apply_snp_filters = true
    maf = 0.01
    indiv_summary = true
    genetic_structure = true
    rem_indi_structure = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/workflow_test_files/test/remove_outgroup.map'
    ld_filt = true
    ld_window_size = 50
    ld_step_size = 10
    r2_threshold = 0.1
    admixture = true
    start_k = 2
    end_k = 11
    king_cutoff = 0.0884
    mind = 0.05
    max_missing = 0.05
}
