/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run popgen48/scalepopgen -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile plink data filter samples'
    config_profile_description = 'Minimal test dataset to check filtering of samples from the plink binary file'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'


    input = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/workflow_test_files/test_plink/input_plink.p.csv'
    rem_indi = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/workflow_test_files/test_plink/rem_indi.map'
    apply_indi_filters = true
    king_cutoff = 0.0884
    mind = 0.05
}
