/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'PLINK2_VCF' {
        ext.args1   = "--const-fid --make-bed --chr-set "+ params.max_chrom
	ext.args   = params.allow_extra_chrom ? ext.args1 +" --allow-extra-chr " : ext.args1
        publishDir = [
            path: { "${params.outdir}/plink2/vcftobed/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'PLINK2_MERGE_BED' {
        ext.args1   = " --make-bed --chr-set "+ params.max_chrom
	ext.args   = params.allow_extra_chrom ? ext.args1 +" --allow-extra-chr " : ext.args1
	ext.prefix     = params.outprefix
        publishDir = [
            path: { "${params.outdir}/plink2/merged_bed/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'PLINK2_REMOVE_CUSTOM_INDI' {
        ext.args1   = " --make-bed --chr-set "+ params.max_chrom
	ext.args   = params.allow_extra_chrom ? ext.args1 +" --allow-extra-chr " : ext.args1
	ext.prefix     = params.outprefix
    }
    withName: 'PLINK2_INDEP_PAIRWISE' {
        ext.args1   = " --make-bed --chr-set "+ params.max_chrom
	ext.args   = params.allow_extra_chrom ? ext.args1 +" --allow-extra-chr " : ext.args1
	ext.args2  = params.ld_window_size+" "+params.ld_step_size+" "+params.r2_threshold
    }
    withName: 'PLINK2_EXPORT_PED' {
        ext.args1   = " --chr-set "+ params.max_chrom
	ext.args   = params.allow_extra_chrom ? ext.args1 +" --allow-extra-chr " : ext.args1
    }
    withName: 'CREATE_EIGENSTRAT_PAR' {
	ext.args   = "convertf "+params.max_chrom+" NA"
    }
    withName: 'CREATE_SMARTPCA_PAR' {
	ext.args1   = params.max_chrom
	ext.args  = params.smartpca_param ? params.smartpca_param : "none"
    }
    withName: 'PLOT_PCA' {
	ext.args1   = params.max_chrom
	ext.args  = params.smartpca_param ? params.smartpca_param : "none"
    }
}
