/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run popgen48/scalepopgen -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    // TODO nf-core: Specify the paths to your full test data ( on nf-core/test-datasets or directly in repositories, e.g. SRA)
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/files/test_input.csv'
    rem_indi = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/files/samples_to_be_removed.txt'
    sample_map= 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/files/sample_map.map'
    apply_indi_filters = true
    apply_snp_filters = true
    admixture = true
    end_k = 20
    genetic_structure = true
    ibs_dist = true
    ld_filt = true
    ld_step_size = 100
    ld_window_size = 500
    indiv_summary = true
    maf = 0.01
    outdir = "test_paper_out"
    pairwise_global_fst = true
    r2_threshold = 0.05
    smartpca = true
    k_snps = 500
    maf = 0.01
    outgroup = "Wenshan_Cattle"
    rand_k_snps =  true
    treemix = true
    n_mig = 8
    n_iter = 3
}
