/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run popgen48/scalepopgen -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed

    input = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/workflow_test_files/test/test_input_vcf.csv'
    sample_map = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/workflow_test_files/test/sample.map'
    color_map = 'https://raw.githubusercontent.com/Popgen48/scalepopgen-test/main/workflow_test_files/test/pop_color.map'
    apply_indi_filters = true
    apply_snp_filters = true
    allow_extra_chrom = true
    admixture = true
    end_k = 6
    genetic_structure = true
    ibs_dist = true
    ld_filt = true
    ld_step_size = 10
    ld_window_size = 50
    indiv_summary = true
    maf = 0.01
    outdir = "test"
    pairwise_global_fst = true
    r2_threshold = 0.05
    smartpca = true
    k_snps = 500
    maf = 0.01
    max_chrom = 2
    outgroup = "Urial"
    rand_k_snps =  true
    treemix = true
    n_mig = 4
    n_iter = 3

}
